/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-bg-primary: #17181c;
  --color-bg-secondary: #1e1f23;
  --color-bg-tertiary: #27282e;
  --color-border: #2e3136;
  --color-text-primary: #f2f5f7;
  --color-text-secondary: #8a8f98;
  --color-accent: #ff0034;
}

html {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

body,
html,
#app {
  min-height: 100vh;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
